* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.hero-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.add-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}